h1{
  text-align: center;
  color:#F7819F;
}

body{
  background-color:black;
}

  div{
  width: 10em;
  height:10em;
  position: absolute;
  }

  .box{
  width: 2em;
  height:2em;
  position: float;
  background-color:orange;
  top: 4em;
  left: 4em;
  }

#box1{
  background-color:#FE2E2E;
 top: 0em;
 left: 0em;

}

#box2{
background-color:#AC58FA;
top: 0;
right: 0;

}

#box3{
background-color:#F4FA58;
bottom: 0;
left: 0;
}

#box4{
background-color:#F4FA58;
bottom: 0;
right: 0;
