h1{
  text-align: center;
  color:#F7819F;
}

body{
  background-color:black;
}


#box{
  width: 100%;
  height:500px;
  background-color:white;
  position: absolute;
  top: 6em;
}

#up{
  top:0;
  text-align: center;
}

#down{
  bottom: 0;
  text-align: center;
}


#then{
  border: 1px solid black;
  bottom: 31px;
  text-align: center;
}

#play{
  bottom: 31px;
  left: 33%;
  text-align: center;
}

#now{
  bottom: 31px;
  right: .5%;
  text-align: center;

}

div.full{
  width: 100%;
  height:30px;
  position: absolute;
  border: 1px solid black;
  background-color: yellow;
}

.content{
  display: inline-block;
  width: 33.3%;
  height:87%;
  background-color: white;
  position: absolute;
  border: 1px solid black;
}



.blue{
  color: blue;
}



.pic {
  padding: 10px;
  margin: 80px;
  float: bottom;
  width: 250px; }

  .pic2 {
    padding: 10px;
    margin: 80px;
    float: bottom;
    width: 250px; }
