h1{
  text-align: center;
  color:#F7819F;
}

body{
  background-color:black;
}

body > div{
  background-color:#FE2E2E;
  padding: 7.5em;
  width: 30em;
  height:30em;
  box-sizing: border-box;

}

body> div>div{
background-color:#AC58FA;
width: 15em;
height: 15em;
}

body> div>div>div{
background-color:#F4FA58;
width: 7.5em;
height: 7.5em;
position: absolute;
top: 5em;
left: 8px;
}
